body {
  overflow-x: hidden;
  background-color: #0f172a;
  margin: 0;
}

a {
  text-decoration: none;
}

.foco {
  position: absolute;
  pointer-events: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  animation: girar 1s infinite linear;
}

.foco2 {
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 80%;
  height: 80%;
  margin: 7%;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #39c28a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top-btn .arrow-up {
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
}

.pestañas {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 70px;
}

.pestaña {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10px;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  color: #39c28a;
  transition: box-shadow 0.3s;
  font-weight: bold;
}

.pestaña:hover {
  box-shadow: 0 0 5px 1px #39c28a;
  cursor: pointer;
}

.datos-about {
  width: 60%;
  margin-left: 10%;
  margin-top: 150px;
  margin-bottom: 100px;
}

.datos-about h3 {
  color: #39c28a;
  font-size: 50px;
}

.datos-about p {
  margin-top: -50px;
  color: #9c9999;
  width: 60%;
  font-size: 19px;
}

.porfolio-proyectos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.proyectos-titulos {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 40px;
  color: #39c28a;
}

.datos-proyectos {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.proyecto2 {
  padding: 5px;
  width: 100%;
  display: flex;
}

.proyect-a {
  display: flex;
  color: white;
}

.proyecto2 img {
  padding: 5px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  height: 150px;
  width: 200px;
}

.proyect-info {
  margin-left: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyect-info p {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
}

.tecnologias-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tecnologias {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 5px;
  color: #48b5bc;
  background-color: #3469531c;
  padding: 5px;
  border-radius: 25px;
}

.datos-contacto {
  position: absolute;
}

.link {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 3px;
}

.link:hover {
  opacity: 0.5;
}
.cont{
  margin-top: 200px;
}

.tecno-title {
  color: #39c28a;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 45px;
}

.tecno-title2 {
  color: #39c28a;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 45px;
}


.logo_tecno {
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  text-align: center;
  color: #48b5bc;
}

.tecno {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  margin: 8px;
  padding: 5px;
  border-radius: 5px;
  width: 180px;
}

.logo_tecno img {
  height: 30px;
  margin-right: 3px;
}

.tecno-title3{
  font-size: 30px;
}

.about-tecnologias {
  display: flex;
  width: 80%; 
  margin: auto;
}

.div-tecno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px; 
  width: 50%; 
}




.java {
  border-radius: 4px;
}

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: #3469531c;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 2px #1d271b dashed;
  border-radius: 10px;
}

.frase img {
  border-radius: 10px;
}

.contacto {
  text-align: center;
  background-color: #3469531c;
  height: 100px;
}

h2 {
  color: #48b5bc;
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}

.contact-button.icon {
  margin-right: 5px;
}

.contact-button.email {
  background-color: #007bff;
}

.contact-button.phone {
  background-color: #dc3545;
}

.contact-button.linkedin {
  background-color: #0e76a8;
}

.contact-button:hover {
  opacity: 0.8;
}

.proyecto2,
.div-tecno {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #13202e,
      #11253b 50%,
      #112036
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #39c28a);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 10px;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}

@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.barrita {
  animation: fadeInOut 1s ease infinite;
  opacity: 0;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.texto {
  font: 4em/1 Open Sans, Impact;
}
svg {
  margin: -200px;
}
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #072444;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #39c28a;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: #e9f1df;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: #56d9cd;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: #3aa1bf;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.content {
  height: 160px;
  width: fit-content;
  margin: auto;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 42px;
  position: relative;
}

.content__container:before {
  content: "[";
  position: absolute;
  left: 0;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation: opacity 2s infinite;
}

.content__container:after {
  content: "]";
  position: absolute;
  right: 0px;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation: opacity 2s infinite;
}

.content__container__list {
  margin-top: 0;
  text-align: left;
  list-style: none;
  animation: change 10s infinite;
}

.content__container__list__item {
  line-height: 40px;
  width: 700px;
  margin-left: -10px;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@media screen and (max-width: 740px) {
  .pestaña {
    display: none;
  }
  .content{
    margin-top: 20px;
  }
  .foco {
    display: none;
  }

  .datos-about {
    margin: 50px auto;
    text-align: center;
  }

  .datos-about p {
    width: 100%;
  }

  .proyectos-titulos {
    margin-top: 100px;
    font-size: 30px;
  }

  .datos-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .proyecto2 {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .proyect-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    color: white;
  }

  .proyecto2 img {
    padding: 5px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 150px;
    width: 200px;
  }

  .proyect-info {
    margin-left: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .proyect-info h2 {
    margin: -3px;
  }

  .proyect-info p {
    width: 100%;
    margin-bottom: 10px;
  }

  .tecnologias-cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .tecnologias {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    color: #48b5bc;
    background-color: #3469531c;
    padding: 5px;
    border-radius: 25px;
  }

.cont {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.div-tecno{
  width: 80%;
}


.logo-tecno{
  width: 80%;
}

  .frase img {
    width: 300px;
  }

  .about-tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .tecno-title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .tecno-title2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .contact-button {
    width: 100%;
    border: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
  }

  .phone {
    border-radius: 0;
  }

  .contacto {
    text-align: center;
    background-color: #3469531c;
    height: fit-content;
    padding-bottom: 10px;
  }

  .contact-buttons {
    display: flex;
    flex-direction: column;
  }

  .contact-buttons a {
    width: 89.5%;
    border-radius: 0;
  }

  .scroll-top-btn {
    background-color: transparent;
  }
}

@media (max-width: 900px) {
  svg {
    margin: -50px;
  }
  .content {
    width: fit-content;
    margin-top: 40px;
  }

  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 80px;
    position: relative;
  }

  .content__container__list__item {
    line-height: 40px;
    margin: auto;
    width: 200px;
    margin-left: -10px;
  }

  .content__container__list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 200px;
  }

  .content__container:before {
    margin-top: 12px;
    content: "[";
    position: absolute;
    left: 0;
    top: 0;
    color: #16a085;
    font-size: 100px;
    line-height: 40px;
    animation: opacity 2s infinite;
  }

  .content__container:after {
    margin-top: 12px;
    content: "]";
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 100px;
    line-height: 40px;
    animation: opacity 2s infinite;
  }

  .datos-about h3 {
    font-size: 30px;
  }
  
}
